/*  All Pages  */

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    line-height: 1.6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    list-style-type: none;
    overflow:hidden;
}

a{
    display: inline-block;
    text-decoration: none;
    color:black;
    text-align: center;
    font-weight: 600;
}

li{
    display:inline-block;
    margin-right:30px;
}

li a:hover{
    color:black;
}

li a:hover{
    color:#ff5c31;
}

h1,
h2{
    font-weight:300;
    line-height: 1.2;
    margin:10px 0;
}

p{
    margin:10px 0;
    font-weight:400;
}

nav{
    background-color: #fff;
    height: 80px;
}

nav .flex{
    justify-content: space-between;
}

.container{
    max-width:1100px;
    margin:0 auto;
    overflow: auto;
    padding: 0px 40px;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo{
    width: 147.16px;
    line-height:1.2;
}

.home{
    height:26.08px;
}

.language{
    height:20px;
}

.sign-in{
    font-size: 16px;
    padding:10px 25px 10px 25px;
    color:#fff;
    background-color:#ff5c31;
    margin-left:30px;
}

.button{
    transition-duration: 0.3s;
    border: none;
    border-radius: 40px;
}

.button:hover{
    filter:brightness(90%);
}



/*  index.html  */

video{
    position: absolute;
    right: 0;
    top:-80px;
    min-width: 100%; 
    min-height: 100%;
    z-index:-5;
}

.showcase{
    height:400px;
    position:relative;
}

.showcase h1{
    font-size: 40px;
}

label{
    margin:20px 0;
}

.form-control{

}